@font-face {
  font-family: myFont; 
  src: url(/font/starborn.otf); 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: myFont;
  margin-top: 0px;
  font-weight: 600;
}

ul {
  font-family: "Courier New", Courier, monospace;
}

p {
  margin-bottom: 0px;
  font-family: "Courier New", Courier, monospace;
}

a {
  text-decoration: none;
  color: black;
}

body {
  overflow: hidden;
}

.page {
  height: 100vh;
  width: 100vw;
  background-color: #dfdbe9;
  overflow-x: hidden;
  overflow-y: scroll;
}

.header {
  border-bottom: #2c1143 3px solid;
  margin-left: 0px;
  height: 10vh;
  width: 100%;
  align-items: center;
}

.title {
  display: inline-block;
}

.title h1 {
  font-size: 7vh;
  margin-bottom: 0px;
}

.page-content {
  overflow-y: scroll;
}

.home {
  direction: rtl;
  padding-left: 0px;
}

.home-image {
  height: 7vh;
  width: 7vh;
  margin: 1vh, 0vh, 1vh, 1vh;
  padding: 0.25vh;
  border: #2c1143 3px solid;
}

.project-container {
  display: flex;
  margin-top: 5vh;
  justify-content: center;
  align-items: center;
}

.project-title {
  text-align: center;
}

.project-pic {
  height: 33vh;
  width: 33vh;
  border: #2c1143 3px solid;
  border-radius: 50%;
  object-fit: cover;
}

/* Waves Animation */
.right {
    transform: rotate(180deg);
    transform: scaleX(-1);
    right: 0;
}


#waves-animation {
  height: 100%;
  padding: 0;
}

.wave {
  height: 100vh;
  width: 200px;
  position: absolute;
  background: url("../source_images/wave.PNG");
  background-repeat: repeat-y;
  background-size: auto 1024px;
  z-index: 2;
  opacity: 0.5;
}

.one {
  animation: wave 11s cubic-bezier(0.3, 0.4, 0.65, 0.5) infinite;
}

.two {
  animation: wave 13s cubic-bezier(0.3, 0.4, 0.65, 0.5) 1s reverse infinite;
}

.three {
  animation: wave 15s cubic-bezier(0.3, 0.4, 0.65, 0.5) 2s infinite;
}

.four {
  animation: wave 17s cubic-bezier(0.3, 0.4, 0.65, 0.5) 3s reverse infinite;
}

@keyframes wave {
  0% {
    background-position-y: 0px;
    background-position-x: 0px;
  }
  10% {
    background-position-x: -2px;
  }
  40% {
    background-position-x: -18px;
  }
  50% {
    background-position-x: -20px;
  }
  60% {
    background-position-x: -18px;
  }
  90% {
    background-position-x: -2px;
  }
  100% {
    background-position-y: -512px;
    background-position-x: 0px;
  }
}
